<div class="outerContainer">
    <div class="boardContainer">
        <div class="board" [ngStyle]="{'width': (719.45 * boardProportion) + 'px'}">
            <ng-container *ngFor="let row of boardMatrix; index as i">
                    <ng-container *ngFor="let currentCell of row; index as j">
                        <div class="cell" [ngStyle]="{'grid-column-start': j+1, 'overflow': 'hidden'}" [ngClass]="'color-' + (currentCell == 1 ? fallingPiece.color : currentCell)">
                                             
                        </div>
                    </ng-container>
            </ng-container>
        </div>
        <div class="gameOverOverlay" *ngIf="gameOverFlag">
            <p>GAME OVER BITCH</p>
        </div>
    </div>
    <div class="infoContainer" >
        <p>Points: {{ points }}</p>
        <p>Level: {{ level }}</p>
        <a [class]="stop ? 'resume' : 'pause'" (click)="gameOver ? null : (stop ? resume() : stopGame())">{{ stop ? 'RESUME' : 'PAUSE'}}</a>
    </div>
</div>